.vs/
*.user
*.suo
bin/
obj/
*.dll
*.exe
*.pdb
.idea/
Migrations/
*.mdf
*.ldf
*.sql
appsettings.Development.json
secrets.json
swagger/v1/swagger.json
swagger.json
*.log
logs/
publish/
*.tmp
*.bak
*.cache
*.swp
.DS_Store
Thumbs.db
