@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime
@inject NavigationManager Navigation
@inject HttpClient http


        <main class="content-area">
            @Body
        </main>
@code {
   
}

